.DS_Store
*~
*.bak
*.swp
Gemfile.lock
.bundle/
vendor/

# Taken from https://github.com/github/gitignore/blob/ea2aa40cb4620e334a87e8494e03d0e7d1ec11df/Jekyll.gitignore
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

